{% load crispy_forms_tags %}
<div class="modal fade" id="modal-responder-contacto-{{ contacto.id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Responder a {{ contacto.nombre }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'responder_contacto' contacto.id %}" id="form-responder-contacto">
          {% csrf_token %}
          <div class="row row-bordered">
            {% for field in form %}
              <div class="col-md-12">
                {{ field|as_crispy_field }}
              </div>
            {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Enviar respuesta</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
