{% load static %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	<title>Tabler - Premium and Open Source dashboard template with responsive and high quality UI.</title>
	<!-- CSS files -->
<link href="{% static 'dist/css/tabler.min.css' %}?1738096682" rel="stylesheet"/>
	<link href="{% static 'dist/css/tabler-flags.min.css' %}?1738096682" rel="stylesheet"/>
	<link href="{% static 'dist/css/tabler-socials.min.css' %}?1738096682" rel="stylesheet"/>
	<link href="{% static 'dist/css/tabler-payments.min.css' %}?1738096682" rel="stylesheet"/>
	<link href="{% static 'dist/css/tabler-vendors.min.css' %}?1738096682" rel="stylesheet"/>
	<link href="{% static 'dist/css/tabler-marketing.min.css' %}?1738096682" rel="stylesheet"/>
<link href="{% static 'dist/css/demo.min.css' %}?1738096682" rel="stylesheet"/>
	<style>
		@import url('https://rsms.me/inter/inter.css');
	</style>
	
</head>


            </a>


            <body>
                {% block content %}
                {% endblock %}
            </body>



           
            <!-- Libs JS -->
        <!-- Tabler Core -->
        <script src="{% static 'js/tabler.min.js' %}?1738096682" defer></script>
        <script src="{% static 'js/demo.min.js' %}?1738096682" defer></script>
        </body>
        </html>
        