{% extends "layout/base_usuario.html" %}
{% load static %}

{% block content %}
<body class=" d-flex flex-column bg-white">
	<script src="{% static 'js/demo-theme.min.js' %}?1738096682"></script>
	<div class="row g-0 flex-fill">
		<div class="col-12 col-lg-6 col-xl-4 border-top-wide border-primary d-flex flex-column justify-content-center">
			<div class="container container-tight my-5 px-lg-5">
				<div class="text-center mb-4">
		<a href="." class="navbar-brand navbar-brand-autodark">
			<img src="{% static 'img/lg.png' %}" height="20px" alt="">
	</a>
				</div>
				{% if form.errors %}
				<div class="alert alert-danger alert-dismissible" role="alert">
					<div>
					<h4 class="alert-title">Se han encontrado errores</h4>
					<div class="text-secondary">
						{% for field in form %}
						{% if field.errors %}
							<p><strong>{{ field.label }}:</strong> {{ field.errors|join:", " }}</p>
						{% endif %}
						{% endfor %}
						{% if form.non_field_errors %}
						<p>{{ form.non_field_errors|join:", " }}</p>
						{% endif %}
					</div>
					</div>
					<a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
				</div>
			{% endif %}
				<h2 class="h3 text-center mb-3">
					Login to your account
				</h2>
				<form action="/login/" method="post" autocomplete="off" novalidate>
					{% csrf_token %}
					<div class="mb-3">
					  <label for="email" class="form-label">Correo electr&oacute;nico</label>
					  <input type="email" id="email" name="username" class="form-control" placeholder="tu@correo.com" autocomplete="off" required>
					</div>
				  
					<div class="mb-2">
					  <label for="password" class="form-label">
						Contrase&ntilde;a
					  </label>
					  <div class="input-group input-group-flat">
						<input type="password" id="password" name="password" class="form-control" placeholder="Tu contrase&ntilde;a" autocomplete="off" required>
					  </div>
					</div>
				  
					<div class="form-footer">
					  <button type="submit" class="btn btn-primary w-100">Iniciar sesi&oacute;n</button>
					</div>
				  </form>
				<div class="text-center text-secondary mt-3">
					&iquest;No tienes cuenta a&uacute;n? <a href="{% url 'registro_estudiante' %}" tabindex="-1">Reg&iacute;strate</a>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-6 col-xl-8 d-none d-lg-block">
			<!-- Photo -->
	<div class="bg-cover h-100 min-vh-100" style="background-image: url({% static 'img/autoestima.png' %})"></div>
		</div>
	</div>
	{% endblock %}
