{% extends "base_dashboard.html" %}
{% load static %}

{% block content %}
<div class="page-wrapper">
	<!-- Page header -->
	<div class="page-header d-print-none">
		<div class="container-xl">
			<div class="row g-2 align-items-center">
				<div class="col">
					<h2 class="page-title">
						Configuración de Cuenta
					</h2>
				</div>
			</div>
		</div>
	</div>
	<!-- Page body -->
	<div class="page-body">
		<div class="container-xl">
			<div class="card">
				<div class="row g-0">
					<div class="col-12 col-md-3 border-end">
						<div class="card-body">
							<h4 class="subheader">Configuraci n de la empresa</h4>
							<div class="list-group list-group-transparent">
								<a href=""
									class="list-group-item list-group-item-action d-flex align-items-center active">Mi
									Cuenta</a>
								<a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
									Notificaciones</a>
								<a href="#"
									class="list-group-item list-group-item-action d-flex align-items-center">Reseñas</a>
								
								
							</div>
							<div class="list-group list-group-transparent">
						
							</div>
						</div>
					</div>

					<!-- Contenido principal del formulario -->
					<div class="col-12 col-md-9 d-flex flex-column">
						{% include 'layout/mensajes.html' %}
						<form method="post" action="{% url 'editar_perfil' %}" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="card-body">
								<h2 class="mb-4">Mi Cuenta</h2>
								<h3 class="card-title">Detalles de perfil</h3>
								<div class="row align-items-center">
									<div class="col-auto">
										{% if usuario.imagen %}
										<span class="avatar avatar-xl" id="imagen_perfil"
											style="background-image: url({{ usuario.imagen.url }})"></span>
										{% else %}
										<span class="avatar avatar-xl"
											style="background-image: url('/static/img/imagen.png')"></span>
										{% endif %}
									</div>
									<div class="col-auto">
										<input type="file" name="imagen" accept="image/*" class="form-control"
											id="avatarInput">
									</div>
									<div class="col-auto">
										<button type="button" class="btn btn-ghost-danger btn-3"
											onclick="clearAvatar()">
											Eliminar avatar
										</button>
										<input type="checkbox" name="imagen-clear" id="imagen-clear"
											style="display: none;">
									</div>
								</div>

								<h3 class="card-title mt-4">Información Personal</h3>
								<div class="row g-3">
									<div class="col-md">
										<div class="form-label">Nombre de usuario</div>
										<input type="text" class="form-control" value="{{ usuario.username }}" readonly>
									</div>
									<div class="col-md">
										<div class="form-label">Nombre</div>
										<input type="text" class="form-control" name="first_name"
											value="{{ usuario.first_name }}">
									</div>
									<div class="col-md">
										<div class="form-label">Apellido</div>
										<input type="text" class="form-control" name="last_name"
											value="{{ usuario.last_name }}">
									</div>
								</div>

								<div class="row g-3 mt-3">
									<div class="col-md-6">
										<div class="form-label">Tipo de Identificación</div>
										<select class="form-control" name="tipo_identificacion">
											{% for tipo, nombre in usuario.TIPOS_IDENTIFICACION %}
											<option value="{{ tipo }}" {% if usuario.tipo_identificacion == tipo %}selected{% endif %}>{{ nombre }}</option>

											{% endfor %}
										</select>
									</div>
									<div class="col-md-6">
										<div class="form-label">Identificación</div>
										<input type="text" class="form-control" name="identificacion"
											value="{{ usuario.identificacion }}">
									</div>
								</div>

								<!-- Campos específicos de psicólogo -->
								{% if usuario.rol == 'psicologo' and usuario.psicologo %}
								<div class="row g-3 mt-3">
									<div class="col-md">
										<div class="form-label">Especialización</div>
										<input type="text" class="form-control" name="especializacion"
											value="{{ usuario.psicologo.especializacion }}">
									</div>
								</div>
								{% endif %}

								<!-- Resto de campos (EPS, alergias, enfermedades) -->
								<div class="row g-3 mt-3">
									<div class="col-md">
										<div class="form-label">EPS</div>
										<input type="text" class="form-control" name="eps" value="{{ usuario.eps }}">
									</div>
									<div class="col-md">
										<div class="form-label">Alergias</div>
										<input type="text" class="form-control" name="alergias"
											value="{{ usuario.alergias }}">
									</div>
									<div class="col-md">
										<div class="form-label">Enfermedades</div>
										<input type="text" class="form-control" name="enfermedades"
											value="{{ usuario.enfermedades }}">
									</div>
								</div>

							


								<h3 class="card-title mt-4">Contraseña</h3>
								<p class="card-subtitle">Puedes cambiarla cuando quieras </p>
								<div class="row g-3">
									<div class="col-md-6">
										<a href="{% url 'password_change' %}" class="btn btn-primary">
											Cambiar Contraseña
										</a>
									</div>
								</div>

								
							</div>

							<div class="card-footer bg-transparent mt-auto">
								<div class="btn-list justify-content-end">
									<a href="{% url 'perfil' %}" class="btn btn-1">
										Cancelar
									</a>
									<button type="submit" class="btn btn-primary btn-2">
										Guardar Cambios
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer footer-transparent d-print-none">
		<div class="container-xl">
			<div class="row text-center align-items-center flex-row-reverse">
				<div class="col-lg-auto ms-lg-auto">
					<ul class="list-inline list-inline-dots mb-0">
						<li class="list-inline-item"><a href="https://tabler.io/docs" target="_blank"
								class="link-secondary" rel="noopener">Documentation</a></li>
						<li class="list-inline-item"><a href="./license.html" class="link-secondary">License</a></li>
						<li class="list-inline-item"><a href="https://github.com/tabler/tabler" target="_blank"
								class="link-secondary" rel="noopener">Source code</a></li>
						<li class="list-inline-item">
							<a href="https://github.com/sponsors/codecalm" target="_blank" class="link-secondary"
								rel="noopener">
								<!-- Download SVG icon from http://tabler.io/icons/icon/heart -->
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
									fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
									stroke-linejoin="round" class="icon text-pink icon-inline icon-4">
									<path
										d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
								</svg>
								Sponsor
							</a>
						</li>
					</ul>
				</div>
				<div class="col-12 col-lg-auto mt-3 mt-lg-0">
					<ul class="list-inline list-inline-dots mb-0">
						<li class="list-inline-item">
							Copyright &copy; 2025
							<a href="." class="link-secondary">Tabler</a>.
							All rights reserved.
						</li>
						<li class="list-inline-item">
							<a href="./changelog.html" class="link-secondary" rel="noopener">
								v1.0.0
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</div>
<script>
	function clearAvatar() {
		document.getElementById('avatarInput').value = '';
		document.getElementById('imagen-clear').checked = true;
		document.querySelector('.avatar').style.backgroundImage = "url('/static/img/imagen.png')";
		document.querySelector('#imagen_perfil').style.backgroundImage = "url('/static/img/imagen.png')";
	}
</script>
</div>
{% endblock %}