{% extends "base_perfil.html" %}
{% load static %}

{% block main %}
					<!-- Contenido principal del formulario -->
					<div class="col-12 col-md-9 d-flex flex-column">
						{% include 'layout/mensajes.html' %}
						<form method="post" action="{% url 'editar_perfil' %}" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="card-body">
								<h2 class="mb-4">Mi Cuenta</h2>
								<h3 class="card-title">Detalles de perfil</h3>
								<div class="row align-items-center">
									<div class="col-auto">
										{% if usuario.imagen %}
										<span class="avatar avatar-xl" id="imagen_perfil"
											style="background-image: url({{ usuario.imagen.url }})"></span>
										{% else %}
										
											<span class="avatar avatar-xl" style="background-image: url({% static 'dashboard/img/imagen.png' %})"></span>
										{% endif %}
									</div>
									<div class="col-auto">
										<input type="file" name="imagen" accept="image/*" class="form-control"
											id="avatarInput">
									</div>
									<div class="col-auto">
										<button type="button" class="btn btn-ghost-danger btn-3"
											onclick="clearAvatar()">
											Eliminar avatar
										</button>
										<input type="checkbox" name="imagen-clear" id="imagen-clear"
											style="display: none;">
									</div>
								</div>

								<h3 class="card-title mt-4">Información Personal</h3>
								<div class="row g-3">
									<div class="col-md">
										<div class="form-label">Nombre de usuario</div>
										<input type="text" class="form-control" value="{{ usuario.username }}" readonly>
									</div>
									<div class="col-md">
										<div class="form-label">Nombre</div>
										<input type="text" class="form-control" name="first_name"
											value="{{ usuario.first_name }}">
									</div>
									<div class="col-md">
										<div class="form-label">Apellido</div>
										<input type="text" class="form-control" name="last_name"
											value="{{ usuario.last_name }}">
									</div>
								</div>

								<div class="row g-3 mt-3">
									<div class="col-md-6">
										<div class="form-label">Tipo de Identificación</div>
										<select class="form-control" name="tipo_identificacion">
											{% for tipo, nombre in usuario.TIPOS_IDENTIFICACION %}
											<option value="{{ tipo }}" {% if usuario.tipo_identificacion == tipo %}selected{% endif %}>{{ nombre }}</option>

											{% endfor %}
										</select>
									</div>
									<div class="col-md-6">
										<div class="form-label">Identificación</div>
										<input type="text" class="form-control" name="identificacion"
											value="{{ usuario.identificacion }}">
									</div>
								</div>

								<!-- Campos específicos de psicólogo -->
								{% if usuario.rol == 'psicologo' and usuario.psicologo %}
								<div class="row g-3 mt-3">
									<div class="col-md">
										<div class="form-label">Especialización</div>
										<input type="text" class="form-control" name="especializacion"
											value="{{ usuario.psicologo.especializacion }}">
									</div>
								</div>
								{% endif %}

								<!-- Resto de campos (EPS, alergias, enfermedades) -->
								<div class="row g-3 mt-3">
									<div class="col-md">
										<div class="form-label">EPS</div>
										<input type="text" class="form-control" name="eps" value="{{ usuario.eps }}">
									</div>
									<div class="col-md">
										<div class="form-label">Alergias</div>
										<input type="text" class="form-control" name="alergias"
											value="{{ usuario.alergias }}">
									</div>
									<div class="col-md">
										<div class="form-label">Enfermedades</div>
										<input type="text" class="form-control" name="enfermedades"
											value="{{ usuario.enfermedades }}">
									</div>
								</div>

							


								<h3 class="card-title mt-4">Contraseña</h3>
								<p class="card-subtitle">Puedes cambiarla cuando quieras </p>
								<div class="row g-3">
									<div class="col-md-6">
										<a href="{% url 'password_change' %}" class="btn btn-primary">
											Cambiar Contraseña
										</a>
									</div>
								</div>

								
							</div>

							<div class="card-footer bg-transparent mt-auto">
								<div class="btn-list justify-content-end">
									<a href="{% url 'perfil' %}" class="btn btn-1">
										Cancelar
									</a>
									<button type="submit" class="btn btn-primary btn-2">
										Guardar Cambios
									</button>
								</div>
							</div>
						</form>
					</div>
{% endblock %}