{% extends "base_dashboard.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

	<div class="page-wrapper">
<!-- Page header -->
<div class="page-header d-print-none">
	<div class="container-xl">
		<div class="row g-2 align-items-center">
			<div class="col">
				<h2 class="page-title">
					Datatables
				</h2>


				{% include 'layout/mensajes.html' %}



				<a href="#" class="btn btn-primary ms-auto" data-bs-toggle="modal" data-bs-target="#modal-pregunta">
					+
			   </a>

			   {% include 'formularios/crear_pregunta.html' %}
			   


								

			</div>
		</div>
	</div>
</div>



		<!-- Page body -->
		<div class="page-body">
			<div class="container-xl">
				
			
				
				
<div class="card mt-2">
	<div class="card-body p-0">


		
		

		
		<div id="table-default" class="table-responsive">
			<div class="card">
			  <div class="card-header">
				<h3 class="card-title">Tabla de Preguntas</h3>
			  </div>
			  <div class="card-body p-0">
				<table id="preguntasTable" class="table table-vcenter table-hover table-striped mb-0">
				  <thead>
					<tr>
					  <th class="w-25">Categoría</th>
					  <th>Pregunta</th>
					  <th class="w-15">Respuesta</th>
					  <th class="w-15 text-center">Acciones</th>
					</tr>
				  </thead>
				  <tbody>
					{% for pregunta in preguntas %}
					<tr>
					  <td>
						<span class="badge badge-outline text-blue bg-blue-100">{{ pregunta.categoria }}</span>
					  </td>
					  <td>{{ pregunta.pregunta }}</td>
					  <td>
						{% if pregunta.respuesta %}
						  <span class="badge badge-outline text-blue bg-green-100">Verdadero</span>
						{% else %}
						  <span class="badge badge-outline text-red bg-red-100">Falso</span>
						{% endif %}
					  </td>
					  <td class="text-center">
						<div class="btn-list d-flex justify-content-center gap-2">
						  <a href="" class="btn btn-icon btn-warning" title="Editar">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" 
								 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
								 class="icon icon-tabler icon-tabler-pencil">
							  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
							  <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
							  <path d="M13.5 6.5l4 4" />
							</svg>
						  </a>
						  <a href="" class="btn btn-icon btn-danger" title="Eliminar">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" 
								 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
								 class="icon icon-tabler icon-tabler-trash">
							  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
							  <path d="M4 7l16 0" />
							  <path d="M10 11l0 6" />
							  <path d="M14 11l0 6" />
							  <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
							  <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
							</svg>
						  </a>
						</div>
					  </td>
					</tr>
					{% endfor %}
				  </tbody>
				</table>
			  </div>
			</div>
		  </div>
		  
			

				


<!-- Script para auto-abrir el modal cuando hay horario -->

		</div>
	</div>
</div>

			</div>
		</div>
		<footer class="footer footer-transparent d-print-none">
	<div class="container-xl">
		<div class="row text-center align-items-center flex-row-reverse">
			<div class="col-lg-auto ms-lg-auto">
				
			</div>
			<div class="col-12 col-lg-auto mt-3 mt-lg-0">
				
			</div>
		</div>
	</div>
</footer>
	</div>
</div>



<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Inicializar DataTables
        const table = new DataTable('#usuariosTable', {
            language: {
                url: 'https://cdn.datatables.net/plug-ins/2.2.1/i18n/es-ES.json'
            },
           
        });

        // Manejar el filtrado por rol
       


		//formulario:

		
	
    });

    
</script>
	<!-- Libs JS -->

</body>
{% endblock %}

</html>
