{% extends "base_perfil.html" %}
{% load static %}

{% block main %}
					<!-- Contenido principal del formulario -->
					<div class="col-12 col-md-9 d-flex flex-column">
						{% include 'layout/mensajes.html' %}
						<div class="card-body">
							<div class="divide-y">
								{% for review in reviews %}
								<div>
									<div class="row">
										<div class="col-auto">
											{# Suponiendo que el modelo Estudiante tenga un atributo "avatar" o "initials" #}
							


											{% if request.user.imagen %}
											<span class="avatar avatar-1" style="background-image: url({{ request.user.imagen.url }})"></span>
										{% else %}
											<span class="avatar avatar-1" style="background-image: url({% static 'dashboard/img/imagen.png' %})"></span>
										{% endif %}
										</div>
										<div class="col">
											<div class="text-truncate">
												<strong>{{ review.estudiante }}</strong>
												comentó en la cita con <strong>{{ review.psicologo }}</strong>: 
												<p>"{{ review.comentario }}"</p>
												({{ review.puntuacion }}/5)
											</div>
											<div class="text-secondary">
												{{ review.fecha|timesince }} ago
											</div>
										</div>
										<div class="col-auto align-self-center">
											<div class="badge bg-primary"></div>
										</div>
									</div>
								</div>
								{% empty %}
								<p class="text-center">Ninguna reseña registrada.</p>

								<div class="d-flex justify-content-center">
									<img src="{% static 'dashboard/img/empty.png' %}">
								</div>
								
								{% endfor %}
							</div>
						</div>
					</div>
{% endblock %}