{% extends "base_usuario.html" %}
{% load static %}

{% block content %}
<div class="page-wrapper">
    <div class="container-xl">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Nueva Contraseña</h2>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="{{ form.new_password1.id_for_label }}" class="form-label">Nueva contraseña</label>
                                {{ form.new_password1 }}
                            </div>
                            <div class="mb-3">
                                <label for="{{ form.new_password2.id_for_label }}" class="form-label">Confirmar contraseña</label>
                                {{ form.new_password2 }}
                            </div>
                            <div class="form-footer">
                                <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}