{% extends "base_dashboard.html" %}
{% load static %}

{% block content %}
<div class="page-wrapper">
    <div class="container-xl">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Restablecer contraseña</h2>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="mb-3 w-100">
                                <label class="form-label">Correo electrónico</label>
                                {{ form.email }}
                            </div>
                            <div class="form-footer">
                                <button type="submit" class="btn btn-primary">Enviar enlace</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}